[Unit]
Description=QEMU Guest Agent

[Service]
Restart=Always
RestartSec=5
ExecStart=/usr/bin/qemu-ga
ExecStartPre=/bin/sleep 1m
TimeoutSec=90

[Install]
WantedBy=multi-user.target
