[Unit]
Description=DNS Exporter
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/default/adguard-exporter
ExecStart=/usr/bin/adguard-exporter -interval 3s -adguard_hostname 192.168.1.1 -server_port 9617 -adguard_username $ADGUARD_USERNAME -adguard_password $ADGUARD_PASSWORD
ProtectHome=on
ProtectSystem=full
KillSignal=SIGINT
# We pull in network-online.target for a configured network connection.
# However this is not guaranteed to be the network connection our
# networks are configured for. So try to restart on failure with a delay
# of two seconds. Rate limiting kicks in after 12 seconds.
RestartSec=2s
Restart=on-failure
StartLimitInterval=12s

[Install]
WantedBy=multi-user.target
